#items {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.item {
  cursor: pointer;
  position: relative;
  flex: none;
  width: 100%;
  height: 400px;
  scroll-snap-align: start;
}
img {
  width: 100%;
  height: 100%;
}
#config-title {
  padding: 3px;
  background-image: linear-gradient(to right, #191970 , dodgerblue);
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align:left ;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
